.container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
  color: white;
  font-size: 12px;
  font-family: 'Segoe UI';
  height: 40px;
  font-weight: bold;
  padding: 0px 50px;
}
